body {
  font-family: var(--fontPrimary);
  color: var(--black);
  background-color: var(--white);
  &.modal-open {
    overflow: hidden;
  }
  ::-webkit-scrollbar {
    width: 10px;
    
  }
    ::-webkit-scrollbar-track {
      background: var(--white);
    }
        ::-webkit-scrollbar-thumb {
          background-color: rgba($color: #fe7031, $alpha: 0.7);
          
          border-radius: 5px;
        }
}

$global-list: h1, h2, h3, h4, h5, p, ul;

@each $tag in $global-list {
  #{$tag} {
    margin: 0;
    padding: 0;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $mobile) {
    width: 100vw;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 33px;
    padding-right: 33px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 15px;
    padding-right: 15px;
  }
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.card-set {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @include mq(tab) {
    --card-grid-item: 2;
    --card-grid-width: 30px;
    gap: 30px;
  }

  @include mq(desc) {
    --card-grid-item: 3;
  }
}

.card-set__item {
  flex-basis: calc(
    (
      (100% - ((var(--card-grid-item) - 1) * var(--card-grid-width))) /
        var(--card-grid-item)
    )
  );
}
