:root {
  //FONTS
  --fontPrimary: 'Poppins', sans-serif;
  --fontSecondary: 'Roboto', sans-serif;

  //COLORS
  --black: #202025;
  --grapefruit: #fd5103;
  --gray: #5f6775;
  --white: #fcfcfc;
  --auxOrange: #fe7031;
}
