<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
  </head>
  <body>
    <main>
      <section class="hero container">
        <div class="hero__wrapper">
          <h1 class="hero__title">
            A party without cocktails <br />
            is not like a party
          </h1>
          <p class="hero__text">Search your favorite cocktail by ABC</p>
          <form class="hero__form">
            <button class="hero__button">A</button>
            <button class="hero__button">B</button>
            <button class="hero__button">C</button>
            <button class="hero__button">D</button>
            <button class="hero__button">E</button>
            <button class="hero__button">F</button>
            <button class="hero__button">G</button>
            <button class="hero__button">H</button>
            <button class="hero__button">I</button>
            <button class="hero__button">J</button>
            <button class="hero__button">K</button>
            <button class="hero__button">L</button>
            <button class="hero__button">M</button><br />
            <button class="hero__button">N</button>
            <button class="hero__button">O</button>
            <button class="hero__button">P</button>
            <button class="hero__button">Q</button>
            <button class="hero__button">R</button>
            <button class="hero__button">S</button>
            <button class="hero__button">T</button>
            <button class="hero__button">U</button>
            <button class="hero__button">V</button>
            <button class="hero__button">W</button>
            <button class="hero__button">X</button>
            <button class="hero__button">Y</button>
            <button class="hero__button">Z</button><br />
            <button class="hero__button">1</button>
            <button class="hero__button">2</button>
            <button class="hero__button">3</button>
            <button class="hero__button">4</button>
            <button class="hero__button">5</button>
            <button class="hero__button">6</button>
            <button class="hero__button">7</button>
            <button class="hero__button">8</button>
            <button class="hero__button">9</button>
            <button class="hero__button">0</button>
          </form>
        </div>
        <picture class="hero__img">
          <source
            srcset="./images/hero-1x.png 1x, ./images/hero-2x.png 2x"
            media="(min-width: 1200px)"
          />
          <img
            src="./images/hero-1x.png"
            alt="Коктейль"
            width="501"
            height="580"
          />
        </picture>
      </section>
    </main>
  </body>
</html>
