<section class="cocktails">
  <div class="container">
    <h2 class="title cocktails__title">Cocktails</h2>
    <ul class="cocktails__list"></ul>
    <button type="button" class="btn_load-more btn_hidden">Load More</button>
  </div>
</section>
<div class="backdrop is-hidden" data-modal>
  <div class="btn__learn-more__modal">
    <button
      type="button"
      class="btn__learn-more__modal__close__btn"
      data-action="learn-more-close"
    >
      <svg class="btn__learn-more__modal__icon" height="32px" width="32px">
        <use href="./images/close.svg#icon-close-btn-1"></use>
      </svg>
    </button>
    <div class="modal__wrapper"></div>
  </div>
  <div class="cocktails-ingredients-modal is-hidden">
    <button
      type="button"
      class="btn__learn-more__modal__close__btn ingr-close-btn"
      data-action="learn-more-ingredient-close"
    >
      <svg class="btn__learn-more__modal__icon" height="32px" width="32px">
        <use href="./images/close.svg#icon-close-btn-1"></use>
      </svg>
    </button>
    <div class="cocktails-ingredients-modal__wrapper"></div>
  </div>
</div>
