<section class="cocktails">
  <div class="container">
    <h2 class="title title-cocktails">Cocktails</h2>
    <ul class="cocktails-list"></ul>
    <button type="button" class="btn_load-more btn_hidden">Load More</button>
  </div>
</section>
<div class="backdrop is-hidden" data-modal>
  <div class="cocktails-learn-more__modal">
    <button
      type="button"
      class="cocktails-learn-more__modal__close__btn"
      data-action="learn-more-close"
    >
      <svg class="cocktails-learn-more__modal__icon" height="32px" width="32px">
        <use href="./images/close.svg#icon-close-btn-1"></use>
      </svg>
    </button>
    <div class="modal-wrapper"></div>
  </div>
  <div class="cocktails-ingredients-modal is-hidden">
    <button
      type="button"
      class="cocktails-learn-more__modal__close__btn ingr-close-btn"
      data-action="learn-more-ingredient-close"
    >
      <svg class="cocktails-learn-more__modal__icon" height="32px" width="32px">
        <use href="./images/close.svg#icon-close-btn-1"></use>
      </svg>
    </button>
    <div class="cocktails-ingredients-modal__wrapper"></div>
    <button
      type="button"
      class="cocktails-learn cocktails-learn-more__modal__ingredient__btn"
    >
      Add to favorite
    </button>
  </div>
</div>

<!-- <h3 class="cocktails-ingredients-modal__title">Campari</h3>
      <h4 class="cocktails-ingredients-modal__subtitle">Liqueur</h4>
      <p class="cocktails-ingredients-modal__text">
        <b class="cocktails-ingredients-modal__text__bold">Campari</b> is an
        Italian alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%,
        or 28.5% ABV, depending on the country in which it is sold), obtained
        from the infusion of herbs and fruit (including chinotto and cascarilla)
        in alcohol and water. It is a bitters, characterised by its dark red
        colour.
      </p>
      <ul class="cocktails-ingredients-modal__list">
        <li class="cocktails-ingredients-modal__item">✶ Type: Bitters</li>
        <li class="cocktails-ingredients-modal__item">
          ✶ Country of origin: Italy
        </li>
        <li class="cocktails-ingredients-modal__item">
          ✶ Alcohol by volume: 20.5–28.5%
        </li>
        <li class="cocktails-ingredients-modal__item">
          ✶ Flavour: Bitter, spicy and sweet
        </li>
      </ul> -->
