<section class="cocktails">
  <div class="container">
    <h2 class="title title-cocktails">Cocktails</h2>
    <ul class="cocktails-list"></ul>
  </div>
</section>
<div class="backdrop is-hidden" data-modal>
  <div class="cocktails-learn-more__modal">
    <button
      type="button"
      class="cocktails-learn-more__modal__close__btn"
      data-action="learn-more-close"
    >
      <svg class="cocktails-learn-more__modal__icon" height="32px" width="32px">
        <use href="./images/close.svg#icon-close-btn-1"></use>
      </svg>
    </button>
    <div class="modal-wrapper"></div>
  </div>
</div>

<!-- <img
        class="learn-more__image"
        src="https://www.thecocktaildb.com/images/media/drink/2x8thr1504816928.jpg"
        alt="A1"
      />
      <div class="ingr-wrapper">
        <h3 class="ingr-wrapper__name">Negroni</h3>
        <h4 class="ingr-wrapper__components">INGREDIENTS</h4>
        <p class="ingr-wrapper__subtitle">Per cocktail</p>
        <ul class="ingr-wrapper__list">
          <li class="ingr-wrapper__ingredient">Ice</li>
          <li class="ingr-wrapper__ingredient">1 ounce gin</li>
          <li class="ingr-wrapper__ingredient">1 ounce Campari</li>
          <li class="ingr-wrapper__ingredient">1 ounce sweet vermouth</li>
          <li class="ingr-wrapper__ingredient">Garnish: orange peel</li>
        </ul>
      </div>
      <div class="instructions">
        <h3 class="instructions__name">Instractions:</h3>
        <p class="instructions__text">
          Add the gin, Campari and sweet vermouth to a mixing glass filled with
          ice, and stir until well-chilled. Strain into a rocks glass filled
          with large ice cubes. Garnish with an orange peel.
        </p>
      </div>
      <button class="cocktails-learn cocktails-learn-more__modal__btn">
        Add to favorite
      </button> -->
