<div class="footer">
  <div class="container">
    <div class="social__wrapper">
      <div class="social">
        <p class="social__title">our GitHub</p>
        <ul class="social__list">
          <li>
            <a
              class="social__link"
              href="https://github.com/Reinghord"
              target="_blank"
              >Reinghord</a
            >
          </li>
          <li>
            <a
              class="social__link"
              href="https://github.com/Varden41"
              target="_blank"
              >Varden41</a
            >
          </li>
          <li>
            <a
              class="social__link"
              href="https://github.com/Hunt3RSH"
              target="_blank"
              >Hunt3RSH</a
            >
          </li>
          <li>
            <a
              class="social__link"
              href="https://github.com/Aleksandr-Alekseenko-23"
              target="_blank"
              >Aleksandr-Alekseenko-23</a
            >
          </li>
        </ul>
      </div>
      <span class="coppy">Build with 💖 by Team4</span>
    </div>
  </div>
</div>
